.main-footer {
    background: #222;
    margin: 120px 0 0
}

@media (max-width:619px) {
    .main-footer {
        margin-top: 0
    }
}

@media (min-width:620px) {
    .main-footer {
        padding: 40px 0 60px
    }
}

@media (min-width:1020px) {
    .main-footer {
        padding: 50px 0 100px
    }
}

.advisors .main-footer,
.plan .main-footer,
.work .main-footer {
    margin-top: 0
}

.footer-lower-block,
.footer-upper-block {
    padding-top: 50px
}

.footer-lower-block:after,
.footer-lower-block:before,
.footer-upper-block:after,
.footer-upper-block:before {
    content: "";
    display: table
}

.footer-lower-block:after,
.footer-upper-block:after {
    clear: both
}

.footer-content {
    color: #fff;
    margin: 0 auto;
    max-width: 1200px
}

.footer-content:after,
.footer-content:before {
    content: "";
    display: table
}

.footer-content:after {
    clear: both
}

.footer-divider {
    border: 1px solid #202020;
    display: none;
    height: 1px
}

@media (min-width:620px) {
    .footer-divider {
        display: block
    }
}

.footer-list-wrapper {
    margin: 0 0 50px
}

@media (min-width:620px) {
    .footer-list-wrapper {
        float: left;
        width: 33%
    }
    .footer-list-wrapper.social {
        width: 100%
    }
}

@media (min-width:1020px) {
    .footer-list-wrapper {
        float: left;
        width: 25%
    }
    .footer-list-wrapper.social {
        width: 25%
    }
}

.footer-list-wrapper:last-child {
    margin-bottom: 0
}

ul.footer-list {
    text-align: left;
    vertical-align: top
}

ul.footer-list.footer-list-with-active a {
    cursor: pointer;
    opacity: .4
}

ul.footer-list.footer-list-with-active a.active,
ul.footer-list.footer-list-with-active a:hover {
    opacity: 1
}

ul.footer-list.footer-list-with-active a.active {
    cursor: default
}

ul.footer-list li {
    font-family: FuturaBT-Book, sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px
}

@media (min-width:1020px) {
    ul.footer-list li {
        font-size: 18px
    }
}

ul.footer-list li:first-child {
    font-family: FuturaBT-Heavy, sans-serif;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 25px
}

ul.footer-list li.footer-social-icon {
    display: inline-block;
    font-size: 30px;
    margin: 0 15px 0 0
}

ul.footer-list li.app-badge {
    display: inline-block;
    width: 150px
}

@media (min-width:620px) {
    ul.footer-list li.app-badge {
        display: block
    }
}

ul.footer-list li.footer-list-item-faded {
    opacity: .6
}

ul.footer-list li.country a {
    background-repeat: no-repeat;
    background-size: 41px 24px;
    height: 24px;
    width: 41px
}

ul.footer-list li.country-us a {
    background-image: url("https://www.wealthsimple.com/assets/magazine/images/modules/flag-us-5f7e923603397e8ae67074e9891d6575.svg")
}

ul.footer-list li.country-ca a {
    background-image: url("https://www.wealthsimple.com/assets/magazine/images/modules/flag-canada-a9a930599887ad178880cdd48396163b.svg")
}

ul.footer-list li.country-gb a {
    background-image: url("https://www.wealthsimple.com/assets/magazine/images/modules/flag-gb-5f3786a92af2d6cdad8181b8260e2133.svg")
}

.app-icon,
.country {
    display: inline-block;
    margin: 0 10px 0 0
}

.app-icon a,
.country a {
    display: block;
    height: 35px;
    overflow: hidden;
    text-indent: -9999em;
    width: 28px
}

.app-icon a:hover,
.country a:hover {
    opacity: .6
}

.app-icon-ios a {
    background: url("https://www.wealthsimple.com/assets/magazine/images/modules/icon-apple-340ef8dfa3d4bdcf4acea8543efa41c3.svg") no-repeat
}

.app-icon-android a {
    background: url("https://www.wealthsimple.com/assets/magazine/images/modules/icon-android-0751af4a45e9b35492de887995ad195e.svg") no-repeat
}

.footer-link {
    color: #fff;
    opacity: 1;
    text-decoration: none;
    transition: opacity 60ms linear
}

.footer-link:hover {
    opacity: .6
}

.footer-copyright {
    font-size: 13px;
    line-height: 1.77;
    color: #fff;
    margin: 0 auto;
    max-width: 1200px;
    opacity: .3;
    padding: 10px 0
}

.footer-copyright a {
    opacity: .5
}

.footer-ws-for-links {
    font-size: 18px;
    margin: 20%;
    max-width: 1200px
}

@media (min-width:620px) {
    .footer-ws-for-links {
        margin: 85px auto 0
    }
}

.footer-ws-for-links-link {
    display: block;
    margin: 0 0 15px;
    position: relative
}

@media (min-width:620px) {
    .footer-ws-for-links-link {
        display: inline;
        margin: 0 25px 0 0
    }
    .footer-ws-for-links-link:first-child:after {
        background: #fff;
        border-radius: 100%;
        content: "";
        display: inline-block;
        height: 2px;
        position: absolute;
        right: -16px;
        top: 50%;
        width: 2px
    }
}

.gb-footer {
    padding: 40px 0 100px;
    text-align: center
}

.gb-footer-message {
    color: #7e8082;
    font-size: 16px
}

.gb-footer-message a {
    color: #ffb21a;
    text-decoration: none
}

.gb-footer-message a:hover {
    text-decoration: underline
}

.ss-icon,
.ss-icon.ss-social-circle,
[class*=" ss-"].right:after,
[class*=" ss-"].ss-social-circle.right:after,
[class*=" ss-"].ss-social-circle:before,
[class*=" ss-"]:before,
[class^=ss-].right:after,
[class^=ss-].ss-social-circle.right:after,
[class^=ss-].ss-social-circle:before,
[class^=ss-]:before {
    font-family: SSSocialCircle;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

[class*=" ss-"].right:before,
[class^=ss-].right:before {
    display: none;
    content: ""
}

.ss-facebook.right:after,
.ss-facebook:before {
    content: "\F610"
}

.ss-twitter.right:after,
.ss-twitter:before {
    content: "\F611"
}

.ss-instagram.right:after,
.ss-instagram:before {
    content: "\F641"
}

