* {
    box-sizing: border-box
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    color: #666;
    background: #F6F6F6;
  }

  #root {
    max-width: 1200px;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
    padding: 1.5rem 2.5rem;
    background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    color: white;
  }

  img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
  }

  p {
    padding: 0 2.5rem 2.5rem;
    margin: 0;
  }

  .container1 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px
  }

  .card {
    margin: 1rem;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
  }

  .card:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
  }

  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }

  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }

  .card:nth-child(2n) h1 {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  }

  .card:nth-child(4n) h1 {
    background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
  }

  .card:nth-child(5n) h1 {
    background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
  }

.container.magazine-container {
    margin: 0 auto;
    max-width: 1260px;
    padding: 0 20px
}

@media (min-width:620px) {
    .container.magazine-container {
        padding: 0 40px
    }
}

/* featured post */

.featured-post {
    margin: 0;
    position: relative;
    width: 100%
}

@media (min-width:620px) {
    .featured-post {
        margin: 0;
        width: 100%
    }
}

.featured-post img {
    width: 100%
}

.featured-post a {
    color: inherit;
    text-decoration: none
}

.featured-post a:hover .post-excerpt-title {
    text-decoration: underline
}

.posts-container {
    width: 100%
}

.posts-container-single-category .category-recent-posts-intro {
    display: none
}

.post-category {
    font-family: FuturaBT-Heavy, sans-serif;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
    opacity: .4;
    text-transform: uppercase
}

.post-excerpt {
    background: #fff;
    clear: both;
    line-height: 28px;
    padding: 30px 30px 15px
}

@media (min-width:1440px) {
    .post-excerpt {
        line-height: 30px;
        padding: 50px 60px 35px
    }
}

.featured-post-excerpt {
    background: hsla(0, 0%, 100%, .85);
    margin: -5px 0 0
}

@media (min-width:620px) {
    .featured-post-excerpt {
        bottom: 60px;
        margin: 0;
        position: absolute;
        right: 0;
        width: 580px
    }
}

.post-excerpt-title {
    font-family: FuturaBT-Heavy, sans-serif;
    font-size: inherit;
    font-weight: 100;
    font-size: 24px;
    letter-spacing: -.03em;
    line-height: 32px;
    margin: 10px 0 20px
}

@media (min-width:1440px) {
    .post-excerpt-title {
        font-size: 27px;
        line-height: 40px
    }
}

.post-excerpt-title a {
    color: #272c2f;
    text-decoration: none
}

.post-excerpt-title a:hover {
    text-decoration: underline
}

.more-button{
    text-align: center;
    padding-top: 5px;
}

.posts-container {
    width: 100%
}