@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: #f9f8f6;
    padding: 0;
    margin: 0;
    font-family: 'FuturaBT-Book',sans-serif;
}


/* main nav */
@media (min-width:550px){ 
    .header {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        box-shadow: none;
        background-color: white;
        position: fixed;
        height: 100px;
        overflow: hidden;
        z-index: 99;
    }

    .header-logo {
        float: left;
        margin: 2% 5px 2% 10%;
    }

    .header-nav {
        float: right;
        margin: 2% 10% 2% 5px;
        font-family: FuturaBT-Book,sans-serif;
        font-size: 18px;
        font-weight: 300;

    }

    .header-nav li {
        display: inline;
        padding: 5px;
    }

    .header-nav-link{
        color: #272c2f;
    }
}

@media (max-width:550px){ 
/* lines 13-167 for small screen nav*/

.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: white;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 99;
}

.logo-image-small{
    display: block;
    height: 40px;
    max-width: 100%;
    margin: 10px;
    color:black;
  }

.logo-image-header{
    display: block;
    height: 40px;
    max-width: 100%;
    margin: 10px;
    color:black;
}

.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    right: 0%;
    width: 100%;
    margin-top: 60px;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    background: #fab131;
    z-index: 99;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    right: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fab131;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
}

/* media small screen for mobile nav ends here */

/* suppress small nav on biggerscreens */
input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

@media (min-width:550px) {
    .header-logo-small {
        display: none
    }
    .sidebarMenuInner{
        display: none
    }
}

/* more top nav */

.magazine-index-dummy,
body.magazine {
    background-color: #f9f8f6;
    font-size: 18px
}

.container.magazine-container {
    margin: 0 auto;
    max-width: 1260px;
    padding: 0 20px
}

@media (min-width:620px) {
    .container.magazine-container {
        padding: 0 40px
    }
}

.magazine-hero {
    margin: 20%;
    position: relative;
    text-align: center
}

@media (min-width:620px) {
    .magazine-hero {
        margin: 230px 0 60px
    }
}

.magazine-hero .back-link {
    left: 0;
    position: absolute;
    top: -180px
}

.magazine-hero .sub-nav {
    display: none
}

@media (min-width:620px) {
    .magazine-hero .sub-nav {
        display: block
    }
}

.magazine-hero .sub-nav-link a {
    color: #272c2f;
    opacity: .4
}

.magazine-hero .sub-nav-link:after {
    opacity: .4
}

.magazine-hero .sub-nav-link .active {
    opacity: 1
}

.magazine-hero .ws-logo {
    height: 20px;
    margin: 0 0 5px;
    width: 138px
}

@media (min-width:620px) {
    .magazine-hero .ws-logo {
        height: 28px;
        margin: 0 0 10px;
        width: 190px;
        text-align: center;
    }
}

.magazine-subtitle {
    font-family: FuturaBT-Heavy, sans-serif;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
    opacity: .4;
    text-transform: uppercase;
    line-height: 21px;
    margin: 15px 0 0;
}

.h1-bold{
    font-family: FuturaBT-Heavy,sans-serif;
    font-size: 45px;
    font-weight: 100;
    color: #272c2f;
    line-height: 1.1;
    display: block;
    text-align: center;
}

.sub-nav-full {
    width: 100%
}

.sub-nav-link {
    align-self: center;
    margin: 0 20px;
    position: relative;
    text-align: center;
    display: inline;
}

.sub-nav-link:after {
    background: #121212;
    border-radius: 100%;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    right: -20px;
    top: 50%;
    width: 2px
}

.button{
    font-family: FuturaBT-Book,sans-serif;
    font-size: 18px;
    font-weight: 300;
    background: #ffb21a;
    border-radius: 52px;
    color: #fff;
    padding: 16px 20px 15px;
    text-decoration: none;
    transition: background 80ms linear,opacity 1s linear;
    white-space: nowrap;
}